<!DOCTYPE html>
<html>
 <head>
  <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
   <title>Weekday Finder</title>
 </head>
 <body>
   <div class="contatiner">
     <%= yield %>
   </div>
 </body>
</html>
